/* src/styles/Dashboard.module.css */

.dashboardContainer {
  display: flex;
  flex-direction: column;
  height: 100%; /* Fill the height provided by Layout */
  width: 100%; /* Fill the width provided by Layout */
  gap: 16px; /* Optional: spacing between elements */
}

@media (max-width: 600px) {
  .dashboardContainer {
    padding: 8px; /* Adjust padding for smaller screens */
  }
}
