/* src/styles/Header.module.css */

.headerContainer {
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */  
    justify-content: space-between;
    background-color: #90CA8F; /* Green background */
    padding: 16px 16px;
    width: 100%; /* Ensure it spans the full width */
    z-index: 1000; /* Keep if you have dropdowns or other overlapping elements */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for separation */
  }
  

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px; /* Adjust as needed */
  margin-left: 20px;
  margin-right: 60px;
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  gap: 16px; /* Spacing between search bar and links */
}

.searchBar {
  width: 300px; /* Adjust the width as needed */
  margin-left: 300px;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-right: 80px;
}

.link {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 500;
  display: flex; /* Display as flex for proper alignment */
  align-items: center;
}

.link:hover {
  text-decoration: underline;
  color: white;
}

/* Responsive Design */
@media (max-width: 600px) {
  .headerContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .searchContainer {
    width: 100%;
    justify-content: space-between; /* Space between search bar and links */
    margin-top: 8px;
  }

  .searchBar {
    width: 100%;
  }

  .navLinks {
    justify-content: flex-start;
    margin-top: 8px;
  }
}
