/* src/styles/Sidebar.module.css */

.sidebar {
  width: 300px;
  background-color: #f5f5f5;
  padding: 16px; /* 2 * 8px */
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.25rem; /* Corresponds to h5 */
  padding: 8px 16px; /* Adds padding inside the element */
  cursor: pointer;
  background-image: radial-gradient(circle, #90CA8F, #90E08F);
  border-radius: 8px; /* Rounded corners */
  color: #000000; /* Text color for better contrast */
  transition: background 0.3s, transform 0.3s; /* Smooth animations for background and scale */
}

/* Hover effect with a slightly different radial gradient */
.title:hover {
  background-image: radial-gradient(circle, #90E08F, #90CA8F);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.portfolioList {
  flex-grow: 1;
  padding-right: 8px;
  overflow-y: auto;
}

.card {
  margin-bottom: 16px;
  background-color: #ffffff;
  cursor: pointer;
}

.cardContent {
  padding: 16px;
}

.cardLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ticker {
  font-weight: bold;
  font-size: 1rem; /* Corresponds to body1 */
}

.price {
  color: rgba(0, 0, 0, 0.54); /* text.secondary */
  font-size: 0.875rem; /* body2 */
}

.options {
  display: flex;
  gap: 8px;
}

.optionBox {
  padding: 2px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 12px;
}

.divider {
  margin: 16px 0;
}

.footer {
  padding: 16px 0;
  margin-bottom: 24px;
}

.subScores {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.subScoreItem {
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
}

.totalScore {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.footerNumber {
  font-size: 1.5rem; /* h3 */
  color: rgb(0, 0, 0);
  margin: 0;
}

.footerFraction {
  font-size: 1rem; /* h6 */
}
