/* fonts.css */
@font-face {
    font-family: 'PTSerif-Bold';
    src: url('./PTSerif-Bold.ttf') format('truetype');
    /* You can add more font weights and styles here if needed */
  }


  @font-face {
    font-family: 'PTSerif';
    src: url('./PTSerif-Regular.ttf') format('truetype');
    /* You can add more font weights and styles here if needed */
  }